<div class="bg-grey">
<div class="container">
<div class="row home-superadmin">
  <div class="col-md-8 col-md-offset-2 options">
    <div class="col-md-6">
      <a href="#/superadmin/usuarios" class="col-md-12 btn btn-success">Usuarios</a>
      <a href="#/superadmin/pabellones" class="col-md-12 btn btn-success">Pabellones</a>
      <a href="#/superadmin/ambientes" class="col-md-12 btn btn-success">Ambientes</a>
    </div>
    <div class="col-md-6">
      <a href="#/superadmin/dispositivos" class="col-md-12 btn btn-success">Dispositivos</a>
      <a href="#/superadmin/categorias" class="col-md-12 btn btn-success">Categorias</a>
      <a href="" class="col-md-6 col-md-offset-6 btn btn-danger" ng-click="logout()">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Salir
      </a>
    </div>
  </div>
</div>
</div>
</div>
